h1, h2, h3, li {font-family: Times New Roman, Arial, sans-serif}
p {font-family: Times New Roman, Arial, sans-serif}
img {
  width: 100%;
  max-width: 75%;
  height: auto;
  object-fit: contain;
}
button {font-family: Times New Roman, Arial, sans-serif; background-color: tan; border-radius: 10px}